In [1]:
# General
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# prep
from sklearn.preprocessing import LabelEncoder

# tqdm
from tqdm import tqdm

# 親のフォルダのパスを追加
import sys; sys.path.insert(0, '..')

from util.data_loader import DataLoader

In [2]:
loader = DataLoader()
# データフレームの読み込み
pokemon_data = loader.load("pokemon_data")
pokemon_training = loader.load("pokemon_training")
pokemon_moves = loader.load("pokemon_moves")
pokemon_info = loader.load("pokemon_infos")

/Users/inabahayato/Desktop/py-lab/pokemon/notebook/../util/data_loader.py:74: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [4]:
loader = DataLoader()
# データフレームの読み込み
pokemon_data = loader.load("pokemon_data")
pokemon_training = loader.load("pokemon_training")
pokemon_moves = loader.load("pokemon_moves")
pokemon_info = loader.load("pokemon_infos")

/Users/inabahayato/Desktop/py-lab/pokemon/notebook/../util/data_loader.py:74: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [ ]:
pd.options.display.float_format = '{:.2f}'.format

def custom_info(data):
    # 基本的な統計情報
    print("基本統計情報")
    display(data.describe())

custom_info(pokemon_data)

基本統計情報

       Dex Number      HP  Attack  Defense  Sp. Atk  Sp. Def   Speed
count     1025.00 1025.00 1025.00  1025.00  1025.00  1025.00 1025.00
mean       513.00  427.69   70.18    77.52    72.51    70.08   70.21
std        296.04  112.77   26.63    29.78    29.29    29.66   26.64
min          1.00  175.00    1.00     5.00     5.00    10.00   20.00
25%        257.00  325.00   50.00    55.00    50.00    47.00   50.00
50%        513.00  450.00   68.00    75.00    70.00    65.00   67.00
75%        769.00  508.00   85.00   100.00    90.00    90.00   86.00
max       1025.00  720.00  255.00   181.00   230.00   173.00  230.00

In [7]:
drop_types = pokemon_infos.drop("types", axis=1)

# 'なし'をNaNに変換
drop_types.replace('なし', np.nan, inplace=True)

# 欠損値の詳細を確認
pd.concat(
    [
        drop_types.count().rename("件数"),
        drop_types.nunique(dropna=False).rename("ユニーク数"),
        drop_types.dtypes.rename("型"),
        drop_types.isnull().sum().rename("欠損の数"),
        (drop_types.isnull().sum() * 100 /
            pokemon_infos.shape[0]).rename("欠損の割合（%）").round(2),
    ], axis=1
)

                   件数  ユニーク数       型  欠損の数  欠損の割合（%）
name             1010   1010  object     0      0.00
height           1010     54   int64     0      0.00
weight           1010    476   int64     0      0.00
hp               1010    105   int64     0      0.00
attack           1010    117   int64     0      0.00
defense          1010    107   int64     0      0.00
special-attack   1010    110   int64     0      0.00
special-defense  1010    102   int64     0      0.00
speed            1010    119   int64     0      0.00